:host {
  display: block;
  height: 100%;

  .time-plot-wrap {
    height: 800px;
    width: 800px;
  }

  canvas {
    height: 100%;
    width: 100%;
  }

  .tooltip {
    position: absolute;
    pointer-events: none;
    max-width: 800px;
    font-weight: 600;
    background: grey;
    padding: 0.5rem;
    color: white;
  }
}